.container {
	width: 100%;
	height: 100vh;

	@supports (-webkit-touch-callout: none) {
		height: -webkit-fill-available;
		display: flex;
		flex-direction: column;
	}
}

.headerControls {
	> div {
		display: none;
	}

	@media (min-width: 900px) {
		> div {
			display: flex;
		}
	}

	.inviteButton {
		display: flex;
		align-items: center;
		gap: 8px;
		background: #0072CD;
		height: 40px;
		border-radius: 40px;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		padding: 0 16px;
		width: 161px;
	}
}

.callContainer {
	flex: 1;

	@media (max-width: 900px) {
		height: calc(100% - 72px - 48px);
	}

	@media (min-width: 900px) {
		max-height: calc(100% - 96px - 65px);
	}
}

.callContentContainer {
	position: relative;
}

.videoContainer {
	width: 100%;
	height: calc(100% - 120px);
}

.streamContainer {
	background: #161F41;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 10px;

	video {
		position: absolute;
		inset: 0;

		@media (min-width: 900px) {
			position: relative;
		}
		z-index: 1;
		border-radius: 10px;
		width: 100%;
		height: 100%;
	}

	.streamPlaceholder {
		width: 25%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.badge {
		z-index: 1;
		position: absolute;
		left: 8px;
		bottom: 8px;
		background: rgba(2, 5, 46, 0.7);
		border-radius: 40px;
		display: flex;
		align-items: center;
		height: 20px;
		padding: 0 8px;
		gap: 4px;
		font-weight: 600;
		font-size: 10px;
		line-height: 12px;
		white-space: nowrap;

		img {
			height: 12px;
		}

		@media (min-width: 900px) {
			left: 16px;
			bottom: 16px;
			height: 41px;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
			padding: 0 16px;
			gap: 8px;

			img {
				height: initial;
			}
		}
	}

	.controlsBox {
		z-index: 1;
		position: absolute;
		top: 8px;
		right: 8px;
		display: flex;
		height: 16px;
		gap: 4px;
		width: 36px;
		justify-content: flex-end;

		@media (min-width: 900px) {
			width: auto;
			bottom: 16px;
			right: 16px;
			top: initial;
			height: 40px;
			gap: 8px;
		}
	}
}

.videoControls {
	@media (max-width: 899px) {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	padding: 24px 0;

	@media (min-width: 900px) {
		padding: 40px 0;
	}
}