html {
	background: #000;
	color: #fff;
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
}

input {
	border: none;
	outline: none;
}

button, input {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

h1 {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;

	@media (min-width: 900px) {
		font-weight: 700;
		font-size: 60px;
		line-height: 73px;
	}
}

h2 {
	margin: 0;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;

	@media (min-width: 900px) {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
	}
}

h3 {
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;

	@media (min-width: 900px) {
		font-size: 28px;
		line-height: 34px;
	}
}

p {
	margin: 0;
}

button {
	cursor: pointer;
}