.container {
	display: flex;
	justify-content: center;
	padding: 0 24px;

	@media (max-width: 900px) {
		background: #000 !important;
	}

	@media (min-width: 900px) {
		background: initial;
		padding: 0 64px;
	}

	.content {
		margin: 0 auto;
		max-width: 1600px;
		width: 100%;
	}
}