.container {
	flex-direction: column-reverse;
	gap: 40px;
	margin-top: 24px;
	margin-bottom: 40px;
	min-height: fit-content;

	@media (min-width: 900px) {
		margin-top: 0;
		flex-direction: row;
		gap: 70px;
	}

	@media (min-width: 1366px) {
		gap: 140px;
	}
}

.videoContainer {
	border: 2px solid #161F41;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	aspect-ratio: 480/640;
	box-sizing: border-box;
	padding: 12px 12px 24px;

	@media (min-width: 900px) {
		max-width: initial;
		min-width: initial;
		width: 728px;
		max-height: 568px;
		padding: 24px 24px 32px;
	}

	> div:first-child {
		width: 100%;
		position: relative;
		overflow: hidden;
		flex: 1;
		border-radius: 10px;

		video {
			border-radius: 10px;
			min-width: 100%;
			min-height: 100%;
			width: 100%;
			height: 100%;

			@media (min-width: 900px) {
				object-fit: cover;
			}
		}
	}

	.videoControls {
		width: fit-content;
		margin: 16px auto 0;

		@media (min-width: 900px) {
			padding-top: 32px;
			margin: auto auto 0;
		}
	}
}

.joinContainer {
	flex-direction: column;
	padding-left: 0;
	padding-top: 12px;
	margin: 0 auto;
	@media (min-width: 900px) {
		margin: 0;
	}

	.title {
		background: linear-gradient(97.76deg, #5F8AFA 0%, #A463B0 98.77%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 700;
		white-space: pre;
		text-align: center;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 24px;

		@media (min-width: 900px) {
			text-align: left;
			font-size: 56px;
			line-height: 68px;
			margin-bottom: 32px;
		}
	}

	.label {
		width: 100%;
		font-weight: 400;
		color: #D5D4D8;
		margin-bottom: 16px;
		font-size: 20px;
		line-height: 24px;

		@media (min-width: 900px) {
			font-size: 24px;
			line-height: 29px;
		}
	}

	.buttonContainer {
		height: 43px;

		@media (min-width: 900px) {
			height: 72px;
		}
	}

	.text {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #96B9EB;
		opacity: 0.4;
		white-space: pre;
		width: 100%;
		margin-top: 24px;

		@media (min-width: 900px) {
			margin-top: 32px;
		}
	}

	.inviteText {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		gap: 8px;
		width: 100%;
		height: 32px;
		margin-top: 24px;
		justify-content: center;

		@media (min-width: 900px) {
			margin-top: 32px;
			justify-content: initial;
		}

		span {
			color: #D5D4D8;
		}
	}

	.label, .text, .inviteText {
		text-align: center;

		@media (min-width: 900px) {
			text-align: left;
		}
	}
}
